* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-app, .footer {
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(7, 0, 0, 0.4);
  border-radius: 0.75rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}

.footer {
    bottom: 0.5rem;
    position: absolute;
}

.weather {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.weather-desc {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.sunrise-sunset {
  display: flex;
  gap: 0.6rem;
}

.sunrise-sunset img {
  width: 3em;
}

.sunrise,
.sunset {
  display: flex;
  align-items: center;
  gap: 1em;
}

.main-weather img {
  width: 2.18rem;
}

.main-weather {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search input {
  border-radius: 1rem;
  padding: 0.4rem 3rem;
  background: rgba(7, 0, 0, 0.5);
  border: none;
  font-size: 1rem;
}

.btn-src img {
  width: 3rem;
}

.btn-src {
  background: transparent;
  border: none;
  cursor: pointer;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 480px),
            screen and (max-height: 600px) {
  .card-app {
    width: 300px;
    transform: translateY(-1%);
  }

  .search input {
    width: 200px;
    font-size: 1rem;
    padding: 0.4rem 1rem;
  }

  .search img {
    width: 2.5rem;
  }

  .footer {
    width: 300px;
    padding: 0.5rem;
    transform: translateY(0.4rem);
    position: relative;
  }

  .footer p {
    font-size: 0.8rem;
  }
}